@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* color: #fff; */
}

body{
  /* background-color: rgb(240, 240, 240); */
  text-align: center;
  margin-top: 3rem;
  /* overflow-x: hidden; */
}

span{
  color: rgb(208, 88, 58);
}

.section-center{
  position: relative;
  display: flex;
  width: 80vw;
  /* background-color: gray; */
  justify-content: center;
  align-items: center;
  min-height: 28rem;
  margin: 1rem auto;
  max-width: 600px;
  overflow: hidden;
  transition: all .4s ease;
}

article{
  position: absolute;
  width: 100%;
  padding: 1rem 0;
  opacity: 0;
  transition: all .6s ease;
}

article.activeSlide{
  opacity: 1;
  transform: translateX(0);
}
article.prevSlide{
  transform: translateX(-100%);
}
article.nextSlide{
  transform: translateX(100%);
}

.person-img{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 15px rgb(139, 131, 131);
}

.name{
 color: rgb(208, 88, 58);
}

.text{
  margin-top: 1rem;
  color: rgb(143, 139, 139);
  font-size: 15px;
  width: 80%;
  margin: 0 auto;
}

.prev, .next{
  position: absolute;
  background: rgb(79, 79, 79);
  border: none;
  padding: 3px 7px;
  padding-top: 8px;
  border-radius: 7px;
  cursor: pointer;
  transition: all .2s ease;
  color: #fff;
  font-size: 20px;
}

.prev{
  left: 10px;
}

.next{
  right: 10px;
}

.prev:hover, .next:hover{
  background-color: rgb(202, 202, 202);
  color: black;
}

.quote{
  margin-top: 1rem;
  color: rgb(208, 88, 58);
  font-size: 40px;
}